@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto;
  }
}
.swiper-pagination {
  text-align: right;
  padding-right: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  @apply text-primary;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary;
}

.wrap-text-1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1dc071;
  font-weight: 500;
  outline: 2px solid #1dc071;
  padding: 15px 40px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
}

.button:hover {
  color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 150%;
  height: 100%;
  background-color: #1dc071;
  transform: scaleX(0) skewX(35deg);
  transform-origin: left;
  z-index: -1;
  transition: transform 1s;
}

.button:hover::before {
  transform: scaleX(1) skewX(35deg);
}

.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.number {
  font-weight: 900;
  font-size: 15rem;
  line-height: 1;
  @apply text-text2;
}

.illustration {
  position: relative;
  width: 12.2rem;
  margin: 0 2.1rem;
}

:where(.circle, .clip, .paper, .eyes, .eye, .cheeks, .mouth) {
  position: absolute;
}

.circle {
  bottom: 0;
  left: 0;
  width: 12.2rem;
  height: 11.4rem;
  border-radius: 50%;
  background-color: #293b49;
}

.clip {
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  width: 12.5rem;
  height: 13rem;
  border-radius: 0 0 50% 50%;
}

.paper {
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 9.2rem;
  height: 12.4rem;
  border: 0.3rem solid #293b49;
  background-color: white;
  border-radius: 0.8rem;
}

.paper::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  width: 1.4rem;
  height: 1rem;
  background-color: white;
  border-bottom: 0.3rem solid #293b49;
  transform: rotate(45deg);
}

.face {
  position: relative;
  margin-top: 2.3rem;
}

.eyes {
  top: 0;
  left: 2.4rem;
  width: 4.6rem;
  height: 0.8rem;
}

.eye {
  bottom: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #293b49;
  animation-name: eye;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.eye__left {
  left: 0;
}

.eye__right {
  right: 0;
}

@keyframes eye {
  0% {
    height: 0.8rem;
  }

  50% {
    height: 0.8rem;
  }

  52% {
    height: 0.1rem;
  }

  54% {
    height: 0.8rem;
  }

  100% {
    height: 0.8rem;
  }
}

.cheeks {
  top: 1.6rem;
  width: 1rem;
  height: 0.2rem;
  border-radius: 50%;
  background-color: #fdabaf;
}

.cheeks__left {
  left: 1.4rem;
}

.cheeks__right {
  right: 1.4rem;
}

.mouth {
  top: 3.1rem;
  left: 50%;
  width: 1.6rem;
  height: 0.2rem;
  border-radius: 0.1rem;
  transform: translateX(-50%);
  background-color: #293b49;
}

.text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 300;
  color: #293b49;
}

// .button {
//   margin-top: 4rem;
//   padding: 1.2rem 3rem;
//   color: white;
//   background-color: #04cba0;
// }

// .button:hover {
//   background-color: #01ac88;
// }

/* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-text4 rounded-xl;
}

