@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto;
  }
}
.swiper-pagination {
  text-align: right;
  padding-right: 30px;
}
.swiper-button-next,
.swiper-button-prev {
  @apply text-primary;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary;
}

.wrap-text-1 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
